/* CommentForm.module.css */
.commentForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
}

textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-height: 5em;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

.error {
  color: red;
  margin-top: 10px;
}
